# Python
venv/
.venv/
__pycache__/
*.pyc

# Flask
instance/

# Environment Variables
.env

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Database
*.db
*.sqlite3

# Logs
*.log

# Node
node_modules/

# Build
dist/
build/